@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
body {
  background-color: $light-grey;
}
.warehouse-form {
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background-color: $white;
  border-radius: 0.125rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin-top: -2rem;
  width: 90%;

  @media (min-width: $tablet) {
    // padding: 1.5rem 0rem;
    margin-top: -4.7rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__add {
    display: flex;
    justify-content: center;
    @media (min-width: $tablet) {
      border-bottom: 1px solid $cloud;
      justify-content: flex-start;
      padding-left: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__icon {
    margin-bottom: 1.5rem;
    @media (min-width: $tablet) {
      padding-right: 0.5rem;
    }
  }

  &__title {
    text-align: center;
    font-size: $m-h2-size;
    line-height: $m-h2-line-height;
    font-family: $bold-font;
    color: $instock-black;
    margin-bottom: 1.5rem;
    @media (min-width: $tablet) {
      font-size: $h1-size;
    }
  }

  &__subtitle {
    width: 49%;
    font-size: $m-h3-size;
    margin-bottom: 1rem;

    @media (min-width: $tablet) {
      width: 69%;
      font-size: $h2-size;
    }
    @media (min-width: $desktop) {
      width: 38%;
    }
  }

  &__label-text {
    font-family: $bold-font;
    padding-right: 50%;
    display: flex;
    font-size: $h3-size;

    @media (min-width: $tablet) {
      padding: 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__details,
  &__contact-details {
    margin-bottom: 1.5rem;
    border-top: 1px solid $cloud;
    padding-top: 1rem;

    @media (min-width: $tablet) {
      width: 50%;
      border-top: none;
    }
  }
  &__details {
    border-right: 1px solid $cloud;
    padding-right: 1.5rem;
    padding-left: 1rem;
  }
  &__contact-details {
    padding-right: 1rem;
  }

  &__label {
    font-size: $m-p3-size;
    line-height: $m-p1-line-height;
    font-family: $primary-font;
    color: $instock-black;
    margin-bottom: 0.5rem;
    font-family: $bold-font;

    @media (min-width: $tablet) {
      padding: 0;
    }
  }

  &__input {
    width: 100%;
    height: $form-field-height;
    padding: 0.75rem;
    border: 1px solid $cloud;
    border-radius: 0.5rem;
    font-size: $m-p1-size;
    line-height: $m-p1-line-height;
    color: $graphite;
    margin-bottom: 1rem;
    transition: border-color 0.2s;

    @media (min-width: $tablet) {
      width: 100%;
      border-radius: 1.3rem;
    }

    &::placeholder {
      font-family: $bold-font;
      font-weight: 100;
      float: left;
    }

    &:focus {
      border-color: $instock-indigo;
      outline: none;
    }
  }

  &__error {
    color: $red;
    font-size: $m-p2-size;
    line-height: $m-p2-line-height;
    margin-top: 0.25rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    background-color: $light-grey;
    @media (min-width: $tablet) {
      justify-content: flex-end;
      margin-top: 0;
      height: 3.785rem;
    }
  }

  &__button {
    height: $button-height;
    font-size: $m-h3-size;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: $bold-font;
    @media (min-width: $tablet) {
      width: 10%;
    }

    &--cancel {
      background-color: $white;
      color: $graphite;
      flex: 1;
      margin-right: 1rem;
      border: 1px solid $cloud;
      @media (min-width: $tablet) {
        flex: none;
      }
      &:hover {
        color: $instock-indigo;
        border-color: $instock-indigo;
      }
    }

    &--submit {
      background-color: $instock-indigo;
      color: $white;
      flex: 1;
      @media (min-width: $tablet) {
        flex: none;
        margin-right: 1rem;
      }

      &:hover {
        background-color: $instock-black;
        color: $white;
      }
    }

    &__success {
      color: $green;
      font-size: $m-p2-size;
      line-height: $m-p2-line-height;
      margin-top: 0.25rem;
    }
  }
}
