@use "./variables" as *;

@mixin section-main ($color) {
    width:100%;
    background-color: $color;
}

@mixin display-layout ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin desktop-layout ($padding) {
    width: 1280px;
    margin: 0 auto;
    padding: $padding;
}

@mixin page-layout {
    background-color: $white;
    position: relative;
    top: -55px;
    margin: 0 $mobile-margin;
    border-radius: 0.18755rem;
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(19, 24, 44, 0.1);
}