@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../App.scss' as *;
@use '../../styles/partials/media-query' as *;

img {
    cursor: pointer;
}

.inventory-list {
    @include page-layout;

    @include tablet {
        margin: 0 2rem;
    }

    @include desktop {
        @include desktop-layout(0);
        max-width: 63.75rem;
    }

    &__container {
        @include display-layout(1.5rem 0, 0 1.5rem);

        @include tablet {
            @include display-layout(2rem 0 1.35rem 0, 0 2rem);
        }

        @include desktop {
            padding-bottom: 1.375rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            margin: 0;
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
            }
  
            &__box-functionality {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include tablet {
                    flex-direction: row;
                }

                &--search-bar {
                    width: 100%;
                    position: relative;

                    @include tablet {
                        width: 11.57rem;
                    }

                    @include desktop {
                        width: 17.125rem;
                    }

                    &--input {
                        @include input-field;
                    }
                    
                    &--icon {
                        position: absolute;
                        margin: auto;
                        bottom: 0;
                        top: 0;
                        right: 0.75rem;
                    }
                }

                &__bottom {
                    &--add-item {
                        @include bottom;
                    }
                }
            }
        }
    }

    &__wrapper-inventory {

        &--first-container {
            border-top: 0.0625rem solid $cloud;
            list-style-type: none;

            @include tablet {
                border-top: 0;
                list-style-type: none;
            }
        }

        &--containers {
            list-style-type: none;
            border-top: 0.0625rem solid $cloud;
            
            @include tablet {
                border-top: 0.0625rem solid $cloud;
                list-style-type: none;
            }
        }

        &__labels-tablet {
            display: none;

            @include tablet {
                padding: 0.6875rem 2rem;
                background-color: $light-grey;
                display: flex;
                justify-content: space-between;
            }

            @include desktop {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

            &__container-one {
                display: flex; 
                justify-content: space-between;
                width: 52%;

                @include desktop {
                    width: 54.5%;
                }

                &__box {
                    display: flex;
                    align-items: center;
                    width: calc(33.33% - 2.50px);
                    padding-left: 3rem;
                    gap: 0.1rem;

                    &--inventory {
                        @extend .inventory-list__wrapper-inventory__labels-tablet__container-one__box;
                        justify-content: flex-start;
                        padding-left: 0;
                    }

                    &--icon {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }

            &__container-two {
                width: 48%;
                display: flex;
                justify-content: space-between;
                gap: 0;

                &__box {
                    &--quantity {
                        display: flex;
                        align-items: center;
                        width: calc(33.33% - 2.50px);
                        padding-left: 3.5rem;
                        gap: 0.1rem;

                        @include desktop {
                            padding-left: 4.5rem;
                        }
                    }
                    
                    &--warehouse {
                        display: flex;
                        align-items: center;
                        width: calc(33.33% - 2.50px);
                        padding-left: 1rem;
                        gap: 0.1rem;

                    }

                    &--actions{
                        width: calc(33.33% - 2.50px);
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }

        @include tablet {
            border-top: 0;
        }

        &__container {
            @include display-layout($mobile-padding 0, 0 1.5rem);

            @include tablet {
                @include display-layout(1rem 0 1.5rem 0, 0 2rem);
            }

            @include desktop {
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }

            &__top {
                display: flex;
                padding-right: 1.25rem;

                @include tablet {
                    flex-direction: row;
                    padding-right: 0;
                    justify-content: space-between;
                }

                &--one {
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;
                    width: 56.5%;

                    @include tablet {
                        flex-direction: row;
                        justify-content: space-between;
                        width: 52%;
                        gap: 0;
                        align-items: baseline;
                    }

                    @include desktop {
                        width: 54.5%;
                    }

                    &--item {
                        @include tablet {
                            width: calc(33.33% - 0px);
                        }

                        &--header {
                            @include tablet {
                                display: none;
                            }
                        }

                        &--box {
                            display: flex;
                            padding-top: 0.25rem;
                            align-items: center;

                            &--name {
                                color: $instock-indigo;
                            }

                            &--icon {
                                width: 1.25rem;
                                height: 1.25rem;
                            }
                        }
                    }

                    &--category {
                        @include tablet {
                            width: calc(33.33% - 2.50px);
                            padding-left: 3rem;
                        }
                        &--header {
                            @include tablet {
                                display: none;
                            }
                        }

                        &--text {
                            padding-top: 0.25rem;
                        }
                    
                    }
                        &--status-box--tablet {
                            display: none;

                            @include tablet {
                                display: inline-block;
                                width: calc(33.33% - 2.50px);
                                padding-left: 3rem;
                            }

                            &--text {
                                &--instock {
                                    @include instock-tag;
                                }

                                &--outstock {
                                    @include outstock-tag;
                                }
                            } 
                        }
                }

                &--two {
                    width: 7.3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    @include tablet {
                        flex-direction: row;
                        justify-content: space-between;
                        width: 48%;
                        gap: 0;
                    }

                    &--status {
                        @include tablet {
                            display: none;
                        }

                        &--box {
                            width: auto;
                            padding-top:0.25rem;

                            @include tablet {
                                display: none;
                            }

                            &--text {
                                &--instock {
                                    @include instock-tag;
                                }

                                &--outstock {
                                    @include outstock-tag;
                                }
                            }
                        }
                    }

                    &--quantity {
                        @include tablet {
                            width: calc(33.33% - 2.50px);
                            display: flex;
                            padding-left: 3.5rem;

                            @include desktop {
                                padding-left: 4.5rem;
                            }
                        }

                        &--header {
                            @include tablet {
                                display: none;
                            }
                        }

                        &--number {
                            padding-top: 0.25rem;
                        }
                    }

                    &--warehouse {
                        @include tablet {
                            width: calc(33.33% - 2.50px);
                            display: flex;
                            align-self: center;
                            padding-left: 1rem;
                        }

                        &--header {
                            @include tablet {
                                display: none;
                            }
                        }
                    }

                    &--actions-tablet {
                        display: none;

                        @include tablet {
                            display: flex; 
                            justify-content: flex-end;
                            gap: 1rem; 
                            width: calc(33.33% - 2.50px);
                        }

                        &--icon {
                            @include tablet {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }

            &__bottom {
                padding-top: $mobile-padding;
                display: flex;
                justify-content: space-between;
                width: 100%;

                @include tablet {
                    display: none;
                }
            }
       }
    }
}