@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

img {
  vertical-align: middle;
  padding-left: 2px;
}

#sort {
  width: 18px;
}

#\31 {
  @include tablet {
    border: none;
  }
}

thead {
  display: none;

  @include tablet {
    font-size: 12px;
    line-height: 18px;

    background-color: $light-grey;
    color: $slate;
    
    height: 38px;
    width: 99.5%;

    display: flex;
    align-items: center;
  }

  @include desktop {
    width: 100%;

    display: flex;
    flex-direction: row;
  }
}

th {
  @include tablet {
    width: 240px;
  }

  @include desktop {
    width: 100vw;
  }
}

a {
  text-decoration: none;
  color: $instock-indigo;
  font-size: $h3-size;
  line-height: $h3-line-height;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

button {
  background-color: $white;
  border: none;
  cursor: pointer;
}

#titles {
  padding-bottom: 4px;

  @include tablet {
    display: none;
  }
}

#text {
  font-size: 12px;
  line-height: $p2-line-height;

  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}

.table-rows {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $cloud;
  width: 95%;

  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.warehouses {
  background-color: $white;
  margin: 0 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px $cloud;

  margin-top: -50px;

  &__header {
    padding: 24px 16px 16px;

    &__nav {
      padding: 16px 0;
      padding-bottom: 0;

      &__search {
        width: 100%;
        height: 36px;

        padding-left: 16px;
        margin-bottom: 16px;
        border: 1px solid $cloud;
        border-radius: 20px;
      }

      &__add {
        background-color: $instock-indigo;

        color: $white;
        font-size: $h3-size;
        line-height: $h3-line-height;

        width: 100%;
        height: 36px;

        border: none;
        border-radius: 20px;

        &:hover {
          background-color: $graphite;
        }
      }
    }
  }

  &__list {
    width: 100%;

    &__rows {
      width: 95%;
      padding: 16px;

      display: flex;
      flex-direction: row;

      &__top {
        display: flex;
        flex-direction: column;

        &__item {
          padding-top: 8px;
          width: 120px;
        }
      }

      &__bottom {
        @extend .warehouses__list__rows__top;

        &__address {
          padding-left: 12px;
          width: 110px;
        }

        &__contact {
          padding-top: 8px;
          padding-left: 10px;;
          width: 130px;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
        width: 100%;
      }
    }
  }

  @include tablet {
    margin: 0 32px;
    margin-top: -93px;

    &__header {
      padding: 24px 36px 0 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__nav {
        display: flex;
        flex-direction: row;

        &__search {
          width: 165px;
          margin-right: 16px;
        }

        &__add {
          width: 165px;
        }
      }
    }

    &__list {
      width: 100%;

      &__rows {
        padding: 16px 36px;

        display: flex;
        flex-direction: row;

        &__top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 230px;

          &__item {
            width: 100px;
          }
        }

        &__bottom {
          width: 50%;
          padding-left: 8px;
          display: flex;
          flex-direction: row;
        }

        &__buttons {
          width: 15%;
          margin-right: 15px;

        }
      }
    }
  }

  @include desktop {
    margin: -95px 200px;
    margin-bottom: 200px;

    &__list {
      &__rows {
        padding: 12px 64px;

        display: flex;
        flex-direction: row;

        &__top {
          width: 100%;
          &__item {
            width: 42%;
            padding: 0;
          }
        }

        &__bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &__contact {
            width: 100%;
          }

          &__address {
            width: 100%;
            padding-right: 36px;
          }
        }

        &__buttons {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}