@use '../../styles/partials/variables' as *;
@use '../../styles/partials/media-query' as *;

.footer {
  font-family: TitilliumWeb-Regular;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: $slate;

  left: 5rem;

  padding: 40px 0;
  width: auto;
  position: relative;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
    left: 0;
  }

  @include desktop {
    width: auto;
    bottom: 2rem;
    text-align: center;
    left: 0;
  }
}

