@font-face {
  font-family: TitilliumWeb-Regular;
  src: url("./assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

@mixin mobile-body {
  font-family: TitilliumWeb-Regular;
  font-size: 11px;
  line-height: 16px;
}

@mixin tablet-desktop_body {
  font-family: TitilliumWeb-Regular;
  font-size: 12px;
  line-height: 18px;
}

body {
  background-color: #F7F8F9;
  @include mobile-body;

  @media(min-width:768px) {
    @include tablet-desktop_body;
  }
}
